/* start-main-file */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

:root {
  --transition: 0.3s ease;
  --red: #c41617;
  --white: #fefefe;
  --basic: #1d1b1b;
  --gray-middle: #808080;
  --gray-light: #a2a2a2;
  --gray-light-2: #c4c4c4;
  --gray-high: #646363;
  --main-btn-hover: #A90D0E;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  color: var(--basic);
  height: 5000px;
}

@media (min-width: 1400px) {
  .container-xxl,
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 1600px;
  }
}

/* main components */
.sec-padding {
  padding-top: 30px;
  padding-bottom: 30px;
}

img {
  max-width: 100%;
  max-height: 100%;
}

a {
  text-decoration: none;
  color: var(--basic);
  transition: var(--transition);
}

i {
  transition: var(--transition);
}

ul {
  list-style: none;
}

button {
  transition: var(--transition);
}

a:focus {
  outline: none;
}

a:focus,
a:hover {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

.main-btn {
  background-color: var(--red);
  color: var(--white);
  border: 1px solid var(--red);
  border-radius: 5px;
  padding: 7px 20px;
  transition: var(--transition);
  font-size: 18px;
}

.main-btn:hover {
  background-color: var(--main-btn-hover);
  border: 1px solid var(--main-btn-hover);
  color: var(--white);
}

/* .secondary-btn {
  border: 1px solid var(--Gray-middle);
  color: var(--Gray-middle);
  font-size: 16px;
  transition: var(--transition);
  padding: 4px 20px;
  border-radius: 5px;
  background-color: var(--white);
}

.secondary-btn:hover {
  border: 1px solid var(--red);
  color: var(--red);
} */

.top-sec-m {
  margin-top: 113px;
}

/* 
.f-sec-padding-top {
  padding-top: 145px;
} */

/* colors */
.red {
  color: var(--red) !important;
}

.bg-red {
  background-color: var(--red);
}

.green {
  color: var(--green);
}

.gray-middle {
  color: var(--Gray-middle);
}

.gray-high {
  color: var(--gray-high);
}

.basic {
  color: var(--basic);
}

.white-bg {
  background-color: var(--white);
}
/* end-colors */

/* font-weight */
.fw-500 {
  font-weight: 500;
}
.fw-600 {
  font-weight: 600;
}
.fw-700 {
  font-weight: 700;
}

.fs-16 {
  font-size: 16px;
}
.fs-14 {
  font-size: 14px;
}

@media (max-width: 992px) {
  /* .top-sec-m {
    margin-top: 0;
  } */
  /* .f-sec-padding-top {
    padding-top: 20px;
  } */
}

@media (max-width: 767px) {
  .main-btn,
  .secondary-btn {
    font-size: 14px;
    padding: 8px 18px;
  }

  /* .sec-padding {
     padding-top: 20px;
    padding-bottom: 20px;
  } */
}

/* end main components */
/* ----------------------------------------- */

/* header */

/* top-header */

/* header lang-btn */
header nav .top-nav .lang-button-container {
  border-right: 1px solid #fefefe80;
  margin-right: 10px;
}

header nav .top-nav .lang-button-container a {
  color: var(--white);
}

header nav .top-nav .lang-button-container img {
  height: 20px;
}

.top-header .right-side .social a {
  padding: 0 1px;
}

.top-header .right-side .social img {
  height: 23px;
}
/* end-top-nav */

/* nav-bar */
header nav .top-nav .logo img {
  height: 50px;
  object-fit: contain;
}

header nav {
  box-shadow: rgb(153 153 153 / 13%) 1px 3px 4px 0px;
  z-index: 100;
  position: relative;
}

header nav .nav-links {
  display: flex;
  list-style: none;
  margin-bottom: 0;
}

header nav .nav-links li {
  margin: 0 15px;
}

header nav .top-nav .nav-links li .nav-link {
  font-weight: 500;
  transition: var(--transition);
  font-size: 20px;
}

header nav .top-nav .nav-links li a:hover,
header nav .top-nav .nav-links li.active a {
  color: var(--basic);
  text-decoration: none;
}

header nav label {
  cursor: pointer;
}

header nav input[type="checkbox"] {
  display: none;
}

header nav .second-nav header nav .search-and-icons a {
  padding: 3px;
}

header nav .second-nav header nav .search-and-icons img {
  height: 25px;
  object-fit: contain;
}

header nav .second-nav .search-container form {
  position: relative;
}

header nav .second-nav .search-container form input[type="search"] {
  border: 1px solid var(--gray-middle);
  padding: 6px 10px;
  border-radius: 5px;
  width: 370px;
}

header
  nav
  .second-nav
  .search-container
  form
  input[type="search"]::placeholder {
  font-size: 14px;
}

header nav .second-nav .search-container form input[type="search"]:focus {
  outline: none;
}

header nav .second-nav .search-container form button {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 50px;
  background: transparent;
  border: transparent;
  font-size: 16px;
  color: var(--basic);
  cursor: pointer;
  outline: 0;
}

header nav .top-nav {
  color: var(--white);
  padding: 10px;
}

header nav .second-nav {
  padding: 15px 0;
}

header nav .second-nav .cat-toggle-icon {
  height: 23px;
}
header nav .second-nav .categories {
  font-size: 20px;
  border: none;
}
header nav .second-nav .side-icons img {
  height: 27px;
}
header nav .second-nav .side-icons .cart-icon {
  border-right: 2px solid var(--gray-light);
  padding-right: 11px;
}
/* end-desktop-nav-bar */
/* ----------------------------- */

/* categories-side-content */
header nav .second-nav .offcanvas .offcanvas-title {
  color: var(--red);
  font-size: 22px;
}

header nav .second-nav .offcanvas {
  padding: 20px;
}

header nav .second-nav .offcanvas .offcanvas-header {
  border-bottom: 1px solid var(--gray-light-2);
  width: 91%;
  margin: auto;
  padding: 10px 0 10px 0;
}

header nav .second-nav .offcanvas .offcanvas-body ul {
  padding: 0;
}

header nav .second-nav .offcanvas .offcanvas-body ul li {
  margin: 0;
  padding: 10px 0;
  border-bottom: 1px solid var(--gray-light-2);
}

header nav .second-nav .offcanvas .offcanvas-body ul li a {
  font-weight: 500;
  font-size: 18px;
}

header nav .second-nav .offcanvas .offcanvas-body ul li a:hover {
  color: var(--red);
}
/* ----------------------- */

/* cart-widget */
header nav .second-nav .btn {
  border: none;
}

header nav .cart-container .item-container .img-container {
  height: 70px;
  min-width: 66px;
}

header nav .cart-container .item-container .img-container img {
  height: 100%;
  object-fit: contain;
}

header nav .cart-container .item-container .title {
  font-size: 18px;
}

header nav .cart-container .item-container .title .price {
  font-size: 16px;
}

header nav .cart-container .item-container:not(:last-child) {
  border-bottom: 1px solid var(--gray-light-2);
  padding-bottom: 10px;
  margin-bottom: 7px;
}

header nav .cart-container .item-container i {
  font-size: 20px;
}

header nav .cart-container .item-container i:hover {
  color: var(--red);
}

/* account-menu */
header nav .icon-container {
  position: relative;
}

header nav .icon-container .menu {
  display: none;
  position: absolute;
  top: 135%;
  right: -44%;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1;
  width: 100px;
  text-align: center;
  border-radius: 5px;
  border: 1px solid var(--gray-high);
}
header nav .icon-container .menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

header nav .icon-container .menu li {
  padding: 10px;
  margin: 0;
}

header nav .icon-container .menu li:not(:last-child) {
  border-bottom: 1px solid var(--gray-light-2);
}

header nav .icon-container .menu a {
  text-decoration: none;
  color: #333;
  display: block;
}

header nav .icon-container .menu li:hover {
  background-color: #ddd;
}

/* header-responsive */
@media (max-width: 992px) {
  header nav .menu-btn i {
    display: block;
    color: var(--white);
    font-size: 24px;
  }

  header nav .nav-links {
   position: absolute;
    top: 665%;
    min-height: 85vh;
    width: 100%;
    text-align: center;
    display: block;
    transition: all 0.4s ease-in-out;
    z-index: 100;
    overflow: hidden;
    box-shadow: rgb(0 0 0 / 8%) 7px 7px 9px 0px;
    padding: 0;
    background-color: var(--white);
    left: 0;
    opacity: 0;
  }

  #click:checked ~ .nav-links {
    top: 0;
    opacity: 1;
  }

  header nav .nav-links li {
    width: 96%;
    margin: 0;
    color: var(--red);
    border-bottom: 1px solid var(--Gray-light-2);
  }

  header nav .nav-links li .nav-link {
    width: 100%;
    display: block;
    padding: 10px 0;
    text-align: start;
    font-size: 18px;
    text-align: center;
  }

  header nav .nav-links li.active,
  header nav .nav-links li:hover {
    background-color: var(--red);
    width: 100%;
  }

  header nav .nav-links li.active .nav-link,
  header nav .nav-links li:hover .nav-link {
    color: var(--white) !important;
  }

  header nav .search-and-icons a {
    padding: 0;
    color: var(--red);
  }

  header .overlay {
    position: fixed;
    background-color: #00000063;
    height: 100vh;
    width: 100vw;
    opacity: 0;
    transition: var(--transition);
    z-index: -1;
  }

  header .overlay.display {
    opacity: 1;
    z-index: 1;
  }

  header nav .second-nav .search-container form input[type="search"] {
    width: auto;
  }
  header nav .second-nav .side-icons img {
    height: 22px;
  }

  header nav .second-nav .offcanvas .offcanvas-title {
    font-size: 20px;
  }
  header nav .second-nav .offcanvas .offcanvas-header .btn-close {
    font-size: 14px;
  }

  header nav .cart-container .item-container .img-container {
    height: 55px;
    min-width: 60px;
  }

  header nav .cart-container .item-container .title {
    font-size: 16px;
  }

  header nav .cart-container .item-container .title .price {
    font-size: 14px;
  }
  header nav .icon-container .menu a {
    font-size: 14px;
  }
}
/* end header */
/* ---------------------------------------------------------------------------------- */

/* start home */
/* hero-sec-slider */
.home .hero-sec-slider  .slick-next, .slick-prev {
  z-index: 2;
}

.home .hero-sec-slider .slick-next {
    right: 80px;
}

.home .hero-sec-slider  .slick-prev {
  left: 40px;
}

.home .hero-sec-slider .slick-prev:before {
  content: url('../images/prev-arrow-icon.png');
}
.home .hero-sec-slider .slick-next:before {
  content: url('../images/next-arrow-icon.png');
}

.home .hero-sec-slider .slick-dots {
      bottom: 25px;
}

.home .hero-sec-slider .slick-dots li button:before {
  color: var(--gray-light-2);
}

.home .hero-sec-slider .slick-dots li.slick-active button:before{
  color: var(--red);
}

.home .hero-sec-slider .slick-dots li button:before {
      font-size: 12px;
}

.home .hero-sec-slider .slider-item {
  cursor: pointer;
  position: relative;
}

/* slide-content */
.home .hero-sec-slider .content {
  color: var(--white);
    position: absolute;
    bottom: 8%;
    left: 9%;
    transform: translate(7%, 7%);
    text-align: center;
}

.home .hero-sec-slider .content h2 {
  font-weight: 600;
  font-size: 50px;
}

.home .hero-sec-slider .content p {
    font-weight: 500;
    font-size: 28px;
    padding: 0 3%;
}




